{% extends "bootstrap_5_layout.html" %} {% set active_page = "home" %} {% block
content %}

<h1>Simple Justice</h1>

<p class="lead">
  This website purpose is to provide a repository of how judges rule. It is to provide emperical data.
  <p> Let's perform a simple thought experiment. If you were to look up a Congressman,
  Senator, or even a city counsilman how the individual voted on issues it would
  not much digging besides a few Google searches to find the information.</p>
  <p>The problem with judges however, is that their decisions impact children and
  families. Getting these decisions wrong has lifelong impacts.
</p>

<p><h2>How to use this site.</h2></p>
<p><h3>First: Upload Custody Orders</h3> </p>
<p>Specifically we are looking for family custody case orders. This will determine aspects of a parents involvements like medical decision-making, time spent with each parents.</p>

<p><h3>Second: Data Processing</h3> </p>
<p>We will try to process the data within a few days.</p>

<p><h3>Third: Evaluate</h3> </p>
<p>Our intent is to provide a suite of data evaluation tools with references to the soruces, so you can evaluate the judges in your community</p>

<p><h3>Fourth: Activate!</h3> </p>
<p>Use this data to inform yourself or take action to change the judiciary. Ultimately our objective is to get better rulings to support childrens safety and development.</p>


<p>
  Explore: If you want to see how judges rule, check out our analytics page.This
  is a great spot to example how judges are ruling.
</p>

{% endblock %}
