{% extends "bootstrap_5_layout.html" %} {% set page_title = "Upload Page" %} {%
set active_page = "upload" %} {% block content %}

<h1>Upload</h1>

<p class="lead">This page is designed for you to upload you family case</p>

<p>Here is some more info!</p>

<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSe4gVCF1ErT23Z0IeP0fYqTlyYdlTIaTR2eJVcK46mbRk_WFQ/viewform?embedded=true"
  width="640"
  height="419"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
  >Loading…</iframe
>

{% endblock %}
